html, body {  /* Select and size the outermost elements so other elements can be set in % */
	height:100%;
	width:99%;
}

body {
    font: 12px Helvetica;
    background-color: grey;
}

#main {  /* select element with id="main" */
    width: 100%;
    height:87%;
    margin: 0px;
    padding: 0px;
    display:  flex;
    flex-flow: row;
}

 #main > centerDiv {
      margin: 1px;
      padding: 4px;
      border: 1px solid #8888bb;
      background: #0000FF;
      flex: 4;
      order: 2;
  }

#main > instruction {
    margin: 4px;
    padding: 5px;
    border: 1px solid #8888bb;
    border-radius: 7pt;
    background: #ccccff;
    flex: 2;
    order: 3;
    font: 7pt Helvetica;
}

#main > controls {
    margin: 3px;
    padding: 7px;
    border: 1px solid #8888bb;
    border-radius: 5pt;
    background: #ccccff;
    flex: 1;
    order: 1;
    font: 8pt Helvetica;
}

#player {
    width: 200px;
   }

header {  /* select all header and footer elements */
    display: block;
    margin: 4px;
    padding: 5px;
    min-height: 10%;
    border: 1px solid #eebb55;
    border-radius: 7pt;
    background: #ffeebb;
    text-align: center;
    font: 24px Helvetica;
}

